<head>
    <style>
        .container-fluid {
            display: flex;
        }

        .collapse {
            justify-content: center;
        }

        .form-control {
            border-radius: 10rem;
            width: 30vw;
        }

        .d-flex {
            height: 50px;
        }

        .right-text {
            width: 144px;
            display: flex;
            justify-content: flex-end;
        }

        .login {
            color: black;
            margin-right: 40px;
        }
        .logout {
            color: black;
            margin-right: 40px;
        }
    </style>
</head>

<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #52C1FF;">
    <div class="container-fluid">

        <a class="navbar-brand" href="/">
            <img src="/img/header-logo.png" alt="로고 이미지" height="40">
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="검색" aria-label="Search">
            </form>
        </div>
        <div class="right-text">
            <% if (user) { %>
                <a class="logout" href="/logout">로그아웃</a>
            <% } else { %>
                <a class="login" href="/login">로그인</a>
            <% }; %>
        </div>
    </div>
</nav>