<!DOCTYPE html>
<html lang="kor">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>끄적끄적</title>
</head>
<body>
    <h1>끄적끄적</h1>

    <div class="container">
        <%- body %>
    </div>
</body>
</html>