.container {
    display: flex;
    justify-content: center;
}

.account-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: 350px;
    padding: 40px;
    box-sizing: border-box;
}

.account-wrapper>h2 {
    font-size: 24px;
    color: #52C1FF;
    margin-bottom: 20px;
}

.email_btn,
.check_email_btn {
    overflow: hidden;
    position: absolute;
    height: auto;
    font-size: 0.7rem;
    right: 8px;
    top: 15px;
    border-width: 0;
    border-radius: 4px;
    background: none;
}

.check_email_btn {
    top: 79px;
    pointer-events: none;
    cursor: not-allowed;
}

.email_btn:hover,
.check_email_btn:hover {
    background: #F2F2F2;
}

.error {
    color: #f86550;
    position: absolute;
    left: 2px;
    top: 49px;
    font-size: 0.7rem;
    display: none;
}

#email_check_error{
    top: 112px
}