@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);

.area-edit {
    display: none;
}
.image-box {
    height: 100%;
    width: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}
.image-back {
    height: 50%;
    width: 50%;
    background-color: #00000082;
    border-radius: 50px;
    align-content: center;
    text-align: center;
}

.image-box-content{
    max-width: 80%;
    max-height: 80%;
}
.wrap {
    width: 538px;
    margin: 10px auto;
}

#content {
    width: 538px;
}

.area-write {
    position: relative;
    width: 538px;
    min-height: 146px;
    border-radius: 5px;
    background-color: #ffffff;
    resize: none;
}

.area-write .xi-image {
    cursor: pointer;
    position: absolute;
    width: 22.2px;
    height: 18.7px;
    bottom: 15px;
    left: 17px;
    color: #868e96;
}

.area-write .xi-paperclip {
    cursor: pointer;
    position: absolute;
    width: 22.2px;
    height: 18.7px;
    bottom: 15px;
    left: 50px;
    color: #868e96;

}


.area-write .send-img {
    cursor: pointer;
    position: absolute;
    width: 22.2px;
    height: 18.7px;
    bottom: 15px;
    right: 17px;
}

.header {
    margin-top: 50px;
}

.header h2 {
    height: 33px;
    font-size: 42px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.79;
    letter-spacing: -0.5px;
    text-align: center;
    color: #52C1FF;
}

.header p {
    margin: 40px auto;
    height: 48px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: -1.12px;
    text-align: center;
    color: #52C1FF;
}

textarea.field {
    width: 538px !important;
    height: 120px;
    min-height: 120px;
    border: none;
    padding: 18px;
    resize: none;
    outline: none;
}

textarea.field::placeholder {
    width: 216px;
    height: 16px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: -0.96px;
    text-align: left;
    color: #868e96;
}

.imageContainer {
    padding: 0px 15px 15px 15px;
}

.col {
    position: relative;
    padding-top: 5px;
}

.col .xi-close {
    position: absolute;
    top: 9px;
    right: 20px;
    cursor: pointer;
}

.col img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.xi-file-download-o {
    padding-left: 5px;
}
.file-col {
    bottom: 14px;
    margin: 10px;
    padding: 12px;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 36px;
    cursor: pointer;
}

.file-name{
    position: absolute;
    font-size: 10pt;
    font-weight: 300;
    top: 20px;
    left: 60px;
}

.card {
    width: 538px;
    border-radius: 5px;
    background-color: #ffffff;
    margin-bottom: 12px;
}

.card .metadata {
    position: relative;
    display: flex;
    font-family: 'Spoqa Han Sans';
    font-size: 11px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: -0.77px;
    text-align: left;
    color: #adb5bd;
    height: 14px;
    padding: 10px 23px;
}

.card .metadata .date {}

.card .metadata .username {
    margin-left: 20px;
}

.content {
    padding: 0px 23px;
    word-wrap: break-word;
    word-break: break-all;
}
.content > div:first-child {
    margin-top: 7px;
}

.content div.edit {
    display: none;
}

.content textarea.te-edit {
    border: none;
    resize: none;
    width: 100%;
    outline: none;
}

.file-view {
    bottom: 0;
    margin: 0;
    margin-top: 3px;
    color: black;
}

.footer {
    position: relative;
    height: 40px;
}

.footer .xi-image {
    cursor: pointer;
    position: absolute;
    display: none;
    width: 14px;
    height: 18px;
    bottom: 12px;
    left: 17px;
    color: #868e96;
}

.footer .xi-paperclip {
    cursor: pointer;
    position: absolute;
    display: none;
    width: 14px;
    height: 18px;
    bottom: 12px;
    left: 50px;
    color: #868e96;

}

.footer .xi-star-o {
    cursor: pointer;
    position: absolute;
    bottom: 12px;
    right: 101px;
    width: 14px;
    height: 18px;
    color: #868e96;
}

.footer .xi-star {
    cursor: pointer;
    position: absolute;
    display: none;
    bottom: 12px;
    right: 101px;
    width: 14px;
    height: 18px;
    color: #868e96;
}

.footer img.icon-start-edit {
    cursor: pointer;
    position: absolute;
    bottom: 14px;
    right: 55px;
    width: 18px;
    height: 18px;
}

.footer img.icon-end-edit {
    cursor: pointer;
    position: absolute;
    display: none;
    bottom: 14px;
    right: 55px;
    width: 20px;
    height: 15px;
}

.footer img.icon-delete {
    cursor: pointer;
    position: absolute;
    bottom: 12px;
    right: 19px;
    width: 14px;
    height: 18px;
}

#cards-box {
    margin-top: 12px;
}