* {
    font-family: 'Noto Sans KR', sans-serif;
}

body {
    margin: 0px;
    background-color: #F2F2F2;
}

a {
    text-decoration-line: none;
    color: #999999;
}

button {
    all: unset; 
}

form > span {
    position: relative;
    display: inline-block;
    width: 100%;
}

form > input{
    width: 100%;
    height: 48px;
    padding: 0 10px;
    box-sizing: border-box;
    margin-bottom: 16px;
    border-radius: 6px;
    background-color: #F8F8F8;
}

form > span > input{
    width: 100%;
    height: 48px;
    padding: 0 10px;
    box-sizing: border-box;
    margin-bottom: 16px;
    border-radius: 6px;
    background-color: #F8F8F8;
}

form > span > input[disabled]{
    background-color: #e7e7e7;
}

form > input::placeholder{
    color: #D2D2D2;
}
form > input[type="submit"]{
    color: #fff;
    font-size: 16px;
    background-color: #52C1FF;
    margin-top: 20px;
}